apiVersion: apps/v1
kind: Deployment
metadata:
  name: vbx-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vbx
  template:
    metadata:
      labels:
        app: vbx
    spec:
      containers:
      - name: vbx-container
        image: 192.168.20.250/vbx-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
